---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #D6285E;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;


body{
  background-color: #FFFFF3;
 }
 h2 {
  color: #808080;
 }
 p{
  color: gray;
 }

 a, strong {
  color: #D6285E !important;
  /*opacity: 0.5 !important;*/
 }
 .trigger a {
  padding: 0 5px;
  font-size: 12px;
 }
 .page-heading {
  text-align: center;
  color: #D6285E;
  font-size: 2.125em;
  opacity: 0.6;
 }
 .page-subheading {
  text-align: center;
  opacity: 0.25;
  margin-bottom: 2.5em;
 }

 .landing .contact {
  line-height: 0.65em;
 }

 .landing {
  margin-bottom: 4em;
 }
 .landing .contacts {
  margin-top: 3em;
  width: 150px;
  display: inline-block;
 }
 .landing .downloads {
    /*padding-left: 55%;*/
  margin: 3em 0;
  display: inline-block;
  float: right;
  width: 54%;
 }
 .download {
  background-image: url('icon-om-64.png');
  background-repeat: no-repeat;
  padding-left: 90px;
 }
 .details {
  display: inline-block;
 }
 .details h2 {
  margin-top: 15px;
 }
 .research-visual{
  width: 100%;
  height: 325px;
  background-color: gray;
 }
 .center-image {
  text-align: center;
  margin: 10em 0 2.5em;
 }
 .center-image img {
  width: 250px;
 }
 .research a div {
  display: inline;
 }