<footer class="site-footer">

  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <img class="ombuds home" alt="Ombuds" src="/res/icon-om-64.png">
        <h2 class="footer-heading">{{ site.title }}</h2>
        <p>{{ site.description }}</p>
      </div>
      <div class="footer-col footer-col-2">
      </div>
      <div class="footer-col footer-col-3">
        <ul class="contact-list">
        <li>email us at <a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        <li>contribute <a href="https://github.com/soapboxsys">on Github</a></li>
        <li>subscribe <a href="https://getombuds.org/feed.xml">via RSS</a></li>
        <li>chat <a href="http://irc.lc/freenode/ombuds">on IRC</a></li>
        </ul>
      </div>
    </div>
  </div>
  <p id="soapbox">
    <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="/res/cc-by-sa.png" /></a> 
    by <a href="http://soapbox.systems/">Soapbox Systems</a>
  </p>
</footer>
