<nav class="subnav">
  <img class="ombuds home" alt="Ombuds" src="/res/icon-om-64.png">
  <h1 class="page-heading">Ombuds</h1>
  <form action="/"><button id="home">home</button></form>
  <form action="/relays"><button id="relays">relays</button></form>
  <form action="/spec"><button id="spec">spec</button></form>
  <form action="/research"><button id="research">research</button></form>
  <form action="/people"><button id="people">about</button></form>
</nav>
<script type="text/javascript">
  var pn = window.location.pathname;
  pn = pn.replace(/\//g,'');
  pn = $('#'+pn);

  $(document).ready(function(){
    if(pn.length > 0){
      pn.css({
        "border-color":"darkslategray"
      });
    }
  }); 
</script>
<!-- <script src="res/scripts/spec.js"></script> -->