<section class="landing">
  <div class="main-view mv2">
    <img class="ombuds home" alt="Ombuds" src="/icon-om-512.png">
    <h1 class="page-heading">Ombuds</h1>
    <h2 class="page-subheading home">A <strong>peer to peer</strong>, <strong>immutable</strong> microblog.</h2>
  </div>
  <div class="subnav">
    <button id="home">home</button>
    <button id="relay">relay</button>
    <button id="spec">spec</button>
    <button id="about">about</button>
    <button id="language">language</button>
  </div>
  <div id="interactive-wrapper">
  </div>
</section>
<script type="text/javascript">
  var pn = window.location.pathname;
  var ps = /spec/.test(pn); 
  $(document).ready(function(){
    if(ps){
      $('#spec').css({
        "border-color":"darkslategray",
        "background-color":"lightgray"
      });
    }
  }); 
</script>
<script src="/spec.js"></script>