<section class="landing">
  <div class="main-view">
    <img class="ombuds home" alt="Ombuds" src="res/icon-om-512.png">
    <h1 class="page-heading">Ombuds</h1>
    <h2 class="page-subheading home">a <strong>peer to peer</strong>, <strong>immutable</strong> microblog.</h2>
  </div>
  <div class="calls-to-action">
    <div class="contacts">    
      <p class="contact">contribute <a href="https://github.com/soapboxsys">on Github</a></p>
      <p class="contact">subscribe <a href="/feed.xml">via RSS</a></p>
      <p class="contact">chat <a href="http://irc.lc/freenode/ombuds">on IRC</a></p>
    </div>  
    <div class="contributes">    
        <div class="" id="">
            <svg width="10%" height="25px">
                <circle cx="50%" cy="50%" r="12" stroke="red" stroke-width="2" stroke-opacity=".75" fill-opacity="0">
            </svg>
            <p class="contribute write"><strong>Write</strong> posts with our mobile app or store tweets into the public domain by retweeting with #RTP.</p>
        </div>
        <div class="" id="">
             <svg width="10%" height="25px">
                <circle cx="50%" cy="50%" r="12" stroke="red" stroke-width="2" stroke-opacity=".75" fill-opacity="0">
            </svg>
            <p class="contribute read"><strong>Read</strong> posts stored in the public domain. Choose from web-relay running institutions.</p>
        </div>
        <div class="" id="">
           
             <svg width="10%" height="25px">
                <circle cx="50%" cy="50%" r="12" stroke="red" stroke-width="2" stroke-opacity=".75" fill-opacity="0">
            </svg>
            <p class="contribute run"><strong>Run</strong> your own ombuds server. Donate hardware, time, or Bitcoin to grow our network.</p>
        </div>

    </div>
  </div>
  <script type="text/javascript">
    $(document).ready(function(){
      $('.read, .write, .run').on('click',function(){
       // window.location.href = "";
      });
    })
  </script>
</section>
