
.post-list-holder {
    .post > h4 {
        margin-bottom: 0px;
    }
    .post-meta {
        margin-bottom: 15px;
    }
    p:last-of-type {
        margin-bottom: 8px;
    }

    .post {
        margin-bottom: 20px;
    }
}

