    h2{
        color: darkslategrey;
        opacity: 1;
    }
  .landing{
    height: 100%;
    
    .main-view{
      height: 50%;
      text-align: center;
      h1 {
        font-size: 2.5em;
        margin-bottom:0;
      }
      .ombuds{
        margin-top: 10%;
        font-size: 1.5em;
        width: 15%;
      }
      h2 {
        opacity: 0.15;
        }
    }
    .calls-to-action {
        margin: 7% 0;
    }
    .calls-to-action div {
      display: inline-table;
      margin: 0;
      padding: 0;
    }
    .contacts{
      width: 47%;
      .contact{
        margin-bottom: 0;
      }
    }
    .contributes{
      width:52%;
      .contribute{
        display: inline-table;
        width: 87%;
        padding-left: 3%;
      }
        svg{
            width: 10%;
            vertical-align: middle;
            circle{ 
                r:7px;
                stroke:#D6285E;
                stroke-width: 4px;
                stroke-opacity: 1;
                fill-opacity: 0;
                cx:50%;
                cy: 50%;
            }
        }
    }
    .contribute{
      &:hover {    
        cursor: pointer;
        /*color: $hover-color;*/
        color: gray;
        background-size: 12%;
      }
    }
  }
  .details{
    margin-bottom: 20vh;
    canvas {
      height: 100px;
      width: 100%;
      background-color: #fff; 
    }
    .footnote{
      opacity: 0.5;
      padding: 1.125em 0 0;
    }
    .footnote-sup{
      margin-left: -1em;
      vertical-align: top;
    }
    .fn-show{
      display:inherit;
    }
  }
  .research {
    margin-bottom: 10%;
    canvas {
      height:  500px;
      width:  100%;
    }
    .footnote{
      opacity: 0.5;
      padding: 1.125em 0 0;
    }
    .footnote-sup{
      margin-left: -1em;
      vertical-align: top;
    }

    button{
      vertical-align: text-bottom;
      text-align: center;
      font-size: 1em;
      padding: 1em;
      opacity:0.5;
    }
    button:hover {
      opacity: 1;
      cursor: pointer;
    }
    .links {
      margin-bottom: 6%;
      display: flex;
      justify-content:space-between;
    }
    path {
      stroke: gray;
      stroke-width: 0.25px;
      fill: lightgrey;
      opacity: 0.5;
    }
    #world {
      margin: 3% 0;
    }
  }


@include media-query($on-palm) {
  .landing .contributes {
    width: 100%;
  }
  .landing .main-view  .ombuds {
        margin-top: 25%;
    }
  .landing .calls-to-action .contacts {
    width: 100%;
    text-align: center;
    margin-bottom: 50%;
  }
  .landing .calls-to-action div {
    margin: 5% 0;
    padding-bottom:5%;
  }
  .research button {
    width: 75%;
    display: block;
    margin: 2% auto;
    padding: 0.75em 0.25em;
  }
  .research form:last-of-type {
    button {
      margin-bottom: 20%;
    }
  }
  .details {
    margin-top: 5%;
  }
    canvas{
        display:none;
    }
}
