  .landing{
    height: 100vh;
    
    .main-view{
      height: 55.5vh;
      text-align: center;
      h1 {
        visibility: hidden;
        display: none;
      }
      .ombuds{
        margin-top: 18vh;
        font-size: 1.5em;
        width: 23.75%;
      }
    }
    h2 {
      margin-top: 3vh;
    }
    .calls-to-action div {
      display: inline-table;
      margin: 0;
      padding: 0;
    }
    .contacts{
      width: 47%;
      .contact{
        margin-bottom: 0;
      }
    }
    .contributes{
      width:52%;
      .contribute{
        background: url('/res/icon-om-64.png') 0 no-repeat;
        background-size: 10%;
        padding: 5px 0 0 65px;
      }
    }
    .contribute{
      &:hover {    
        cursor: pointer;
        /*color: $hover-color;*/
        color: gray;
        background-size: 12%;
      }
    }
  }
  .details{
    margin-bottom: 20vh;
    canvas {
      height: 100px;
      width: 100%;
      background-color: #fff; 
    }
    .footnote{
      opacity: 0.5;
      padding: 1.125em 0 0;
    }
    .footnote-sup{
      margin-left: -1em;
      vertical-align: top;
    }
    .fn-show{
      display:inherit;
    }
  }
  .research {
    canvas {
      height:  500px;
      width:  100%;
    }
    .footnote{
      opacity: 0.5;
      padding: 1.125em 0 0;
    }
    .footnote-sup{
      margin-left: -1em;
      vertical-align: top;
    }

    button{
      vertical-align: text-bottom;
      text-align: center;
      font-size: 1em;
      padding: 1em;
      opacity:0.5;
    }
    button:hover {
      background-color: lightgray;
      border-color: darkslategray;
      cursor: pointer;
    }
    .links {
      margin-bottom: 6%;
      display: flex;
      justify-content:space-between;
    }
    path {
      stroke: gray;
      stroke-width: 0.25px;
      fill: lightgrey;
      opacity: 0.5;
    }
    #world {
      margin: 3% 0;
    }
  }


@include media-query($on-palm) {
  .landing .contributes {
    width: 100%;
  }
  .landing .contacts {
    width: 100%;
    text-align: center;
  }
  .landing .calls-to-action div {
    margin: 6vh 0;
  }
  .research button {
    width: 75%;
    display: block;
    margin: 2% auto;
    padding: 0.75em 0.25em;
  }
  .research form:last-of-type {
    button {
      margin-bottom: 20%;
    }
  }
  .details {
    margin-top: 50vh;
  }
}