.relay-list {
    margin-top: 40px;
    .relay-item:hover {
        background: #f3f0f0;
    }

    .relay-item.hover {
        cursor: pointer;
    }

    .relay-item {
        border-radius: 2px;
        border: 1px solid #E8E8E8;
        margin-bottom: 20px;
        padding: 10px;
        min-height: 60px;
        img.prof-pic {
            float: left;
            max-width: 70px;
            border-radius: 2px;
            margin-right: 10px;
        }
        img.alt-arrow {
            width: 13px;
        }
        div.top-line {
            padding-top: 5px;
            span:last-child {
                float: right;
            }
        }
        div.bot-line {
            margin-top: 4px;
            span:last-child {
                float: right;
            }
        }
        span.opt-tor-hs-addr {
            border-radius: 3px;
            background: #6cc644;
            padding: 2px 8px;
            a {
                color: #ffffff;
                font-size: 0.9em;
                text-decoration: none;
            }
        }
    }
}
