.relay-list {
    .relay-item {
        border-radius: 2px;
        border: 1px solid #E8E8E8;
        margin-bottom: 20px;
        padding: 10px;
        min-height: 60px;
        img.prof-pic {
            float: left;
            max-width: 70px;
            border-radius: 2px;
            margin-right: 10px;
        }
        img.alt-arrow {
            width: 13px;
        }
        div.top-line {
            padding-top: 5px;
            span:last-child {
                float: right;
            }
        }
        div.bot-line {
            span:last-child {
                float: right;
            }
        }
    }
}
