#paperPreview p, 
#paperPreview h3{
    display: inline-block;
    width: 55%;
    @include media-query($on-palm) {
        width: 100%;
    }
}

#paperPreview h3{
    margin-bottom: 5px;
}

#paperImg {
    float: right;
    height: 375px;
    width: auto;
    margin-top: 16px;
    @include media-query($on-palm) {
        display: none;
    }
}

#adobeImg {
    position: absolute;
    bottom: 0;
    right: -30px;
    height: 20px;
}

#dlWrap {
    position: relative;
    display: inline-block;
}
