section.spec {
	h1 {
		opacity: 0.5;
  	color: #808080;
  	font-size: 2em;
	}
	h2 {
		padding: 2.5em 0 0.25em;
		margin-bottom:	0;
	}
	dt {
		padding-top: 0.75em;
	}
	dd {
		padding-left: 1em;
	}
}
.mv2{
  height: 53vh !important;
}
.subnav {
  text-align: center;
}
.subnav button{
  width: 25%;
  padding: 1em;
  margin: 1% 0;
  font-size: 1em;
  opacity: 0.5;
}
.subnav button:hover{
  background-color: lightgray;
  border-color: darkslategray;
}