---
title: Live Web Relays
layout: page
---
<p>
Use any one of the web-relays below to browse content stored in the public record.
<a href="{{ site.github_url }}/graphs/contributors">The maintainers</a> 
of this website personally vet the operators of the relays listed here.
If you notice any problems with a relay <a href="{{ site.github_url }}/issues">create an issue</a> 
online or post a bulletin about it into the public record.
</p>

<div class="relay-list">
{% for relay in site.data.relays %}
    {% if relay.alt_urls %}
    <div class="relay-item">
    {% else %}
    <div class="relay-item hover" onclick="window.location='{{ relay.hostname }}'" >
    {% endif %}
        <img class="prof-pic" src="/res/images/relays/{{ relay.img }}" />
        <div class="top-line">

            {% if relay.alt_urls %}
            <!-- This needs lots of styling -->
            <select onchange="window.location=this.value">
                <option disabled selected> – Multiple Domains – </option>
                <option value="{{ relay.hostname }}"/>{{ relay.hostname }}</option>
              {% if relay.torHSAddr %}
                <option value="{{ relay.torHSAddr }}"/>{{ relay.torHSAddr }}</option>
              {% endif %}
              {% for url in relay.alt_urls %}
              <option value="{{ url }}"/><a href="{{ url }}">{{ url }}</a></option>
              {% endfor %}
            </select>
            {% else %}
                <span><a class="hostname" href="{{ relay.hostname }}" >{{ relay.hostname }}</a></span>
            {% endif %}


            <span>Launched: {{ relay.startDate }}</span>
        </div>
        <div class="bot-line">
            Hosted in {{ relay.serviceProvider }}
            {% if relay.torHSAddr %}
            <span class="opt-tor-hs-addr">
                <a href="{{ relay.torHSAddr }}">Tor Enabled</a>
            </span>
            {% endif %}
        </div>
    </div>
{% endfor %}
</div>

